#AboutCurs {
  padding-top: 17%;

  .AboutCurs {

    span {
      font-size: 16px;
      font-weight: 400;
      line-height: 20px;
      color: #A5A5A5;
      margin-left: 80px;
      padding-bottom: 20px;
    }

    &__text {
      h1 {
        padding-top: 20px;
        color: #FFFFFF;
        font-size: 36px;
        font-weight: 700;
        line-height: 44px;
        margin-left: 80px;
      }

      .main {
        display: flex;
        align-items: center;
        justify-content: space-around;

        p {
          margin-top: 50px;
          width: 738px;
          height: 240px;
          font-size: 20px;
          font-weight: 200;
          line-height: 20px;
          color: rgba(255, 253, 253, 0.94);
        }

        h3 {
          padding: 10px 0;
          font-size: 18px;
          font-weight: 600;
          line-height: 24px;
          letter-spacing: 0;
          text-align: left;
          color: #FFFFFF;
        }
      }

      .bain {
        margin-top: 40px;

        h4 {
          font-size: 20px;
          font-weight: 600;
          line-height: 24px;
          text-align: left;
          color: #FFFFFF;
          padding: 18px 0;

        }

        span {
          margin-top: 30px;
          width: 479px;
          height: 24px;
          color: rgba(255, 255, 255, 0.9);
        }

        h2 {
          padding: 40px 0;
          font-size: 20px;
          font-weight: 600;
          line-height: 24px;
          text-align: left;
          color: #FFFFFF;

        }
      }

      .text {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-right: 400px;

        &__h4 {
          h5 {
            color: rgba(255, 255, 255, 0.91);
            font-size: 20px;
            font-style: normal;
            padding: 15px 0;
            font-weight: 300;
          }
        }

        &__h5 {
          h5 {
            color: rgba(255, 255, 255, 0.91);
            font-size: 20px;
            font-style: normal;
            padding: 8px 0;
            font-weight: 300;
            margin-bottom: 20px;
          }
        }
      }

      .span {

        h1 {
          color: #FFF;
          font-size: 20px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
        }

        p {
          width: 1029px;
          color: rgba(255, 255, 255, 0.81);
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          margin-top: 60px;
        }

        h4 {
          color: #ffffff;
          font-size: 20px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          padding: 70px 0;
        }

        &--btn {
          margin-top: 50px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-right: 40%;
         &__but1 {
           width: 327px;
           height: 70px;
           padding: 25px 75px 25px 75px;
           border-radius: 10px;
           background: #044076;
           color: #FFFFFF;
           border: 2px solid #043F75;
           font-weight: 500;
           font-size: 16px;
         }
          &__but2 {
            width: 327px;
            height: 70px;
            padding: 25px 75px 25px 75px;
            border-radius: 10px;
            background: #0A1128;
            color: #FFFFFF;
            border: 2px solid #043F75;
          }
        }
      }
    }
  }
}

