#serti {
  margin-top: 10%;
  .serti {
    h1 {
      font-family: Montserrat, sans-serif;
      font-size: 36px;
      font-weight: 700;
      line-height: 60px;
      color: #FFFFFF;
      text-align: center;
      padding: 20px 0;
    }
    span {
      font-family: Montserrat, sans-serif;
      font-size: 16px;
      font-weight: 500;
      line-height: 25px;
      text-align: center;
      color: #FFFFFF;
      margin-left: 30%;
    }
    img {
      margin-top: 20px;
      margin-left: 25%;
    }
  }
}