#faq {
  padding: 150px 0;
  .faq {
    span {
      font-family: Montserrat, sans-serif;
      font-size: 20px;
      font-weight: 500;
      line-height: 24px;
      color: #A5A5A5;
    }
    &--right {
      h1 {
        font-family: Montserrat, sans-serif;
        font-size: 36px;
        font-weight: 700;
        line-height: 44px;
        margin-top: 30px;
        color: #FFF;
        padding: 0 0 5px 0;
      }
    }

    &--we {
      &__left {
        width: 800.011px;
        cursor: pointer;
        height: 60px;
        overflow: hidden;
        border-bottom: 2px solid white;
        transition: .4s;
        &--title {
          display: flex;
          justify-content: space-between;

          &__accord {
            font-family: Montserrat, sans-serif;
            font-size: 20px;
            font-weight: 500;
            line-height: 24px;
            text-align: left;
            margin: 1.4rem 0;
            color: #FFFFFF;
            &--btn {
              font-size: 1.5rem;
              background: transparent;
              border-color: transparent;
              cursor: pointer;

              &__icon {
                color: #FFFFFF;
              }
              &__down {
                color: white;
              }

              &__answer {
                font-size: 20px;
                line-height: 20px;
                color: #FFFFFF;
                p{
                  font-family: Montserrat, sans-serif;
                  font-size: 20px;
                  font-weight: 500;
                  line-height: 24px;
                  width: 698px;
                }
              }
            }
          }
        }
      }
    }
  }
}