#MasterCurs {
  margin-top: 100px;

  h3 {
    font-size: 17px;
    font-weight: 300;
    line-height: 21px;
    color: #FFFFFF;
  }

  span {
    color: #A5A5A5;
  }

  .MasterCurs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__right {
      margin-top: 60px;
      h1 {
        width: 568px;
        height: 132px;
        top: 253px;
        left: 135px;
        color: #FFFFFF;
      }

      p {
        padding-top: 50px;
        width: 490px;
        height: 96px;
        font-size: 18px;
        font-weight: 300;
        line-height: 24px;
        color: #FFFFFF;
      }

      button {
        margin-top: 105px;
        width: 303px;
        height: 70px;
        background: rgba(34, 116, 210, 0.89);
        font-size: 14px;
        font-weight: 200;
        color: #FFFFFF;
        text-align: center;
        border-radius: 10px;
        border: 4px solid transparent;

      }
    }
    &__left {
      padding: 40px 0;
      span {
        padding: 20px 0;
        font-size: 15px;
        font-weight: 300;
        line-height: 14px;
        text-align: center;
        color: rgba(255, 255, 255, 0.85);
      }

      h3 {
        padding: 10px 0;
        font-size: 18px;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: 0;
        text-align: left;
        color: #FFFFFF;
      }
    }

    &__left2 {
      padding: 20px 0;
      span {
        padding: 20px 0;
        font-size: 15px;
        font-weight: 300;
        line-height: 14px;
        text-align: center;
        color: rgba(255, 255, 255, 0.85);
      }

      h3 {
        padding: 10px 0;
        font-size: 20px;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: 0;
        text-align: left;
        color: #FFFFFF;
      }
    }
  }
}
