#accordion {
  .accordion {
    display: flex;
    justify-content: space-around;

    &--right {
      h1 {
        color: #FFF;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: 45px;
        padding: 0 0 40px 0;
      }
    }

    &--we {
      display: flex;

      &__left {
        width: 650px;
        cursor: pointer;
        height: 60px;
        overflow: hidden;
        border-bottom: 1px solid white;
        transition: .4s;

        &--title {
          display: flex;
          justify-content: space-between;

          h3 {
            font-weight: 300;
            font-size: 20px;
          }

          &__accord {
            margin: 1.4rem 0;
            font-size: 1.2rem;
            font-weight: 500;
            color: white;

            &--btn {
              font-size: 1.5rem;
              background: transparent;
              border-color: transparent;
              cursor: pointer;

              &__icon {
                color: #FFFFFF;
              }

              &__down {
                color: white;
              }

              &__answer {
                font-size: 20px;
                line-height: 20px;
                color: #FFFFFF;
                p {
                  font-weight: 300;
                  width: 800px;
                }
              }
            }
          }
        }
      }
    }
  }

  padding-bottom: 120px;
}