#block {
  margin-top: 100px;

  h1 {
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
    color: #FFFFFF;
    padding-top: 50px;

  }
  span {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: #A5A5A5;
    width: 600px;
  }
  .block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &--main {
      display: flex;
      flex-wrap: wrap;
      &__divs {
        width: 310px;
        height: 236px;
        flex-shrink: 0;
        border-radius: 7.877px;
        border: 0.788px solid #0272CE;
        background: linear-gradient(180deg, rgba(0, 84, 160, 0.20) 0%, rgba(0, 11, 48, 0.20) 100%);
        backdrop-filter: blur(17.32923126220703px);
        margin: 40px;

        h2 {
          padding-top: 20px;
          color: #FFF;
          font-size: 28.357px;
          font-style: normal;
          font-weight: 700;
          text-align: center;
          line-height: normal;
        }
        h4 {
          font-size: 20px;
          font-weight: 500;
          line-height: 24px;
          color: #FFFFFF;
          text-align: center;
        }
        span {
          color: #FFF;
          font-size: 20px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
        }
        p{
          padding-top: 20px;
          color: #FFF;
          text-align: center;
          font-size: 13px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
      }
      &__left {
        width: 700px;
        height: 480px;
        border-radius: 10px;
        background: #FFFFFF;
        h1 {
          font-size: 16px;
          font-weight: 700;
          line-height: 20px;
          color: #000000;
          text-align: start;
          margin-left: 40px;
        }
        h2 {
          width: 161px;
          font-size: 36px;
          font-weight: 700;
          line-height: 44px;
          text-align: center;
          padding-top: 20px;
          margin-left: 20px;
        }
        &--icon {
          display: flex;
          align-items: center;
          justify-content: space-around;
          padding-top: 30px;
         h5 {
           color: black;
           font-size: 15px;
         }
        }
        h3 {
          color: black;
          width: 281px;
          font-size: 16px;
          font-weight: 500;
          line-height: 20px;
        }
        button {
          width: 300px;
          height: 70px;
          border-radius: 15px;
          background: #044076;
          color: #FFFFFF;
          font-size: 16px;
          align-items: center;
          margin-left: 30px;
          margin-top: 30px;
        }
      }
    }
  }
}

