#block {
  margin-top: 10%;
  h1 {
    font-family: Montserrat, sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
    color: #FFFFFF;

  }
h2{
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: #FFFFFF;
    padding: 30px 0;
  }
 .main {
   display: flex;
   align-items: center;
   justify-content: space-between;
   .block {
     display: flex;
     justify-content: space-between;
     margin-right: 100px;
     flex-wrap: wrap;

     &--divs {
       text-align: center;
       padding: 30px 0;
       margin-top: 25px;
       width: 300px;
       height: 300px;
       border-radius: 10px;
       border: 1px;
       background: linear-gradient(180deg, rgba(0, 84, 160, 0.2) 0%, rgba(0, 11, 48, 0.2) 100%),
       linear-gradient(0deg, #080e2d, #020f1a);
       border: 1px solid #1272c4;
       h3 {
         font-family: Montserrat, sans-serif;
         font-size: 36px;
         font-weight: 700;
         line-height: 44px;
         color: #FFFFFF;
       }
       h2{
         padding-top: 25px;
         font-family: Montserrat, sans-serif;
         font-size: 20px;
         font-weight: 500;
         line-height: 24px;
         color: #FFFFFF;
       }
       p {
         font-family: Montserrat, sans-serif;
         font-size: 16px;
         font-weight: 600;
         line-height: 20px;
         color: #FFFFFF;
         width: 250px;
         margin-left: 30px;
         padding-top: 5px;
       }
       &__box {
         width: 751px;
         height: 476px;
         border-radius: 10px;
         background: #FFFFFF;
         padding: 50px 0;
         text-align: start;
         margin-top: -120px;
         margin-left: 35px;

         p {
           font-family: Montserrat, sans-serif;
           font-size: 16px;
           font-weight: 700;
           line-height: 20px;
           color: #000;
           text-align: start;
           margin-left: 30px;
           width: 298px;
         }
         h3 {
           font-family: Montserrat, sans-serif;
           font-size: 36px;
           font-weight: 700;
           line-height: 44px;
           padding-top: 20px;
           margin-left: 30px;
         }
         &--icon {
           &__main {
             display: flex;
             align-items: center;
             margin-left: 30px;
             h4 {
               margin-top: 10px;
               font-family: Montserrat, sans-serif;
               font-size: 16px;
               font-weight: 500;
               line-height: 20px;
               color: #000000;
               width: 306px;
               padding: 11px 0;
             }
           }
           button {
             margin-left: 25px;
             width: 350px;
             height: 70px;
             background: #043F75;
             border-radius: 10px;
             font-family: Montserrat, sans-serif;
             color: #FFFFFF;
             font-size: 16px;
             font-weight: 500;
             line-height: 20px;
             margin-top: 22px;
             border: 4px solid transparent;
           }
         }
       }
     }
   }
 }
}
