#curses {
  background: #0A122BFF;
  padding-top: 100px;
 h5{
   color: white;
   margin-left: 200px;
   font-weight: 300;
   font-size: 16px;
   span{
     color: rgba(176, 174, 174, 0.7);
   }
 }
  h2 {
    margin-left: 550px;
    color: white;
    padding: 20px 20px;
  }

  .curses {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;

    &__card {
      margin: 20px 0;
      width: 370px;
      height: 300px;
      background: white;
      border-radius: 20px;

      h1 {
        margin-left: 20px;
        padding: 20px;
        font-size: 24px;
      }

      p {
        width: 300px;
        margin-left: 35px;
        font-size: 16px;

      }

      h3 {
        font-size: 16px;
        margin-left: 35px;
        padding-top: 20px;
        text-underline: black;
        text-decoration: underline;
      }

      &--link {
        display: flex;
        align-items: end;
        justify-content: start;
      }

    }

  }
}