#school {
  background: #0A122BFF;
  padding-top: 60px;

  h3 {
    color: white;
    margin-left: 80px;
    font-weight: 10;
    a {
      color: #a8a2a2;
    }
  }

  .school {
    display: flex;
    align-items: center;
    justify-content: space-around;

    &__title {
      color: white;

      h1 {
        font-size: 36px;
        padding: 18px 0;
        margin-top: 20px;
      }
      p{
        font-size: 20px;
        font-weight: 300;
      }
    }
    img{
      width: 489px;
      padding-top: 25px;
    }
  }
}