#Process {
  margin-top: 10%;
  h1 {
    color: #FFF;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .Process {
    margin-top: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__divs {
      width: 236px;
      height: 236px;
      border-radius: 7px;
      background: linear-gradient(180deg, rgba(4, 20, 30, 0.2) 0%, rgba(2, 9, 26, 0.2) 100%),
      linear-gradient(0deg, #072336, #0A1128);
      border: 0.79px solid #0272CE;
      h2 {
        padding-top: 18px;
        color: #FFF;
        font-size: 28.357px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
      span {
        font-family: Montserrat, sans-serif;
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
        color: #FFF;
      }
      p{
        font-family: Montserrat, sans-serif;
        font-size: 15px;
        font-weight: 400;
        line-height: 18px;
        text-align: center;
        padding-top: 20px;
        color: #FFF;
      }
    }
  }
}