#header {
  background: rgba(8, 16, 35, 0.4);
  padding: 23px 0;
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__logo {

    }
    .menu {
      display: flex;
      gap: 24px;
      list-style: none;
      a {
        color: #fff;
      }
    }
    &__btn {
      display: flex;
      justify-content: space-around;
      align-items: center;
      button {
        font-family: Montserrat, sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        text-align: center;
        width: 207px;
        height: 46px;
        border-radius: 5px;
        background: #0a569b;
        color: white;
      }
    }
  }
}
