#we {
  margin-top: 5%;
  h4 {
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    line-height: 21px;
    color: #A5A5A5;
  }
  span {
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    line-height: 21px;
    color: #FFFFFF;
  }
  .we {
    padding-top: 10%;
    h1 {
      font-family: Montserrat, sans-serif;
      font-size: 36px;
      font-weight: 700;
      line-height: 60px;
      color: #FFFFFF;
      text-align: center;
    }
    p {
      font-family: Montserrat, sans-serif;
      font-size: 16px;
      font-weight: 500;
      line-height: 25px;
      text-align: center;
      margin-left: 20%;
      color: #FFFFFF;
      width: 734px;
      padding-top: 20px;
    }
    h5 {
      font-family: Montserrat, sans-serif;
      font-size: 16px;
      font-weight: 500;
      line-height: 20px;
      text-align: center;
      width: 790px;
      color: #FFFFFF;
      margin-left: 18%;
      padding-top: 30px;
    }
    &--img {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 10%;
      img {
        width: 700px;
        height: 350px;
      }
    }
  }
}