#curs {
  background: #0A122BFF;
  padding-top: 100px;

  a {
    color: white;
    cursor: pointer;
  }

  h2 {
    margin-left: 600px;
    padding: 50px 0;
    color: white;
  }

  .curs {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 50px;

    &__card {
      margin: 0 15px;
      width: 370px;
      height: 283px;
      background: white;
      border-radius: 20px;

      h1 {
        color: black;
        margin-left: 20px;
        padding: 20px;
        font-size: 24px;
      }

      p {
        color: black;
        width: 300px;
        margin-left: 35px;
        font-size: 16px;

      }



      &--link {
        display: flex;
        align-items: end;
        justify-content: start;
        h3 {
          color: black;
          font-size: 16px;
          margin-left: 35px;
          padding-top: 20px;
          text-underline: black;
          //text-decoration: underline;
          border-bottom: 1px solid black;
        }
        &__icon{
          margin-left: 10px;
          color: black;
        }
        &__line{
          width: 99px;
          color: #000000;
          height: 1px;
        }
      }

    }

  }


  button {
    Width: 209px;
    Height: 51px;
    background: #0b4983;
    border: 4px solid transparent;
    margin-left: 530px;
    margin-top: 60px;
    border-radius: 10px;
    cursor: pointer;
    color: #FFFFFF;
  }
}