#Master {
  margin-top: 160px;
  text-align: center;
  .Master {
    padding: 30px;
    span {
      padding-top: 30px;
      color: #A5A5A5;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    h1 {
      color: #FFF;
      font-size: 36px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      padding: 15px 0;
    }
  }
}