#block2 {
  .block2 {
    display: flex;
    flex-direction: column;
    gap: 30px;
    h3 {
      color: #fff;
      font-weight: 500;
      font-size: 20px;
      margin-top: 80px;
    }
    h4 {
      display: flex;
      align-items: center;
      gap: 10px;
      div {
        width: 8px;
        height: 8px;
        background: #fff;
        border-radius: 5px;
      }
      span {
        color: #fff;
        font-weight: 500;
        font-size: 18px;
      }
    }
    .block {
      margin-top: 60px;
      width: 1210px;
      height: 200px;
      background: #fff;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      img {
        margin-bottom: 30px;
        width: 90px;
      }
      .title {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-right: 200px;
        h4 {
          color: #8d8d8d;
          font-size: 16px;
          font-weight: 500;
          p {
            color: black;
          }
        }
      }
      button {
        margin-bottom: 30px;
        width: 280px;
        height: 68px;
        background: #04437b;
        color: #fff;
        font-size: 18px;
        border: none;
        border-radius: 7px;
        cursor: pointer;
      }
    }
  }
}
